base58
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
lxml
matplotlib
matplotlib-inline
nbformat
notebook
numpy
pandas
pandocfilters
scikit-learn
scipy
semver
Send2Trash
streamlit
toml
yfinance
zipp
